# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Imran\CS-PC\Java\Java-Programming-Exercises\JavaFX-Practice\JavaFX-GridPane-Layout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
